<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
      <div class="row form-group">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Razon social">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="RFC">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Dirección">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <textarea type="text" class="form-control" placeholder="Descripción"></textarea>
        </div>

      </div>
    </div>
  </div>
</section>