<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
      <div class="row select-platillo" style="margin-bottom: 3em;">
        <div class="col-md-12">
          <div class="col-md-5">
            <h4>
              Seleecionar un platillo existente
            </h4>
            <select (change)="seleccionarPlatillo($event.target.value)" class="form-control" name="select_platillo">
              <option selected disabled hidden>Selecciona una opcion</option>  
              <option *ngFor="let platillo of platillosExistentes" [value]="platillo.idplatillo">
                {{ platillo.nombre }}
              </option>
            </select>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h4>
              Nuevo platillo
            </h4>
            <button class="btn btn-primary btn-block" (click)="crear()">Crear</button>
          </div>
        </div>
      </div>
      <hr>
      <form #formPlatillo="ngForm" (ngSubmit)="onSubmitPlatillo(formPlatillo.value)">
        <div class="row">
          <div class="col-md-12">
              <h4> Datos generales </h4>              
          </div>
          <div class="col-md-6">
            <div class="col-md-12 form-group">
              <label> Título del platillo </label>
              <input  #nombre="ngModel" [(ngModel)]="newPlatillo.nombre" name="nombre" class="form-control" type="text" placeholder="Nombre del platillo" [disabled]="platilloSeleccionado" required>
            </div>
            <div class="col-md-12 form-group">
              <label> Descripción </label>
              <input  #descripcion="ngModel" [(ngModel)]="newPlatillo.descripcion" name="descripcion" class="form-control" type="text" placeholder="Descripción" required>
            </div>
            <div class="col-md-12 form-group">
              <label> Tipo de comida </label>
              <select [(ngModel)]="newPlatillo.tipoComida_idtipoComida" class="form-control" name="tipo_comida" [disabled]="platilloSeleccionado" required>
                <option selected disabled hidden>Selecciona una opcion</option>                
                <option *ngFor="let tipo of tipoComidas" [value]="tipo.idtipoComida"> {{ tipo.nombre }} </option>
              </select>
            </div>

          </div>
          <div class="col-md-6">
            <div class="col-md-12 form-group">
                <label> Precio </label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input [(ngModel)]="newRestaurantePlatillo.precio" type="number" name="precio" class="form-control" placeholder="0.00">
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label> Tiempo de preparación </label>
                <timepicker name="tiempopreparacion" [(ngModel)]="newRestaurantePlatillo.tiempoPreparacionForView" [showMeridian]="isMeridian"></timepicker>
                <p class="alert alert-info">Tiempo: {{ newRestaurantePlatillo.tiempoPreparacionForView.getHours() }} hora(s) y {{ newRestaurantePlatillo.tiempoPreparacionForView.getMinutes() }} minuto(s) de preparación</p>
              </div>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-md-12 text-right">
            <button [disabled]="formPlatillo.invalid" class="btn btn-primary btn-lg" type="submit"> Registrar platillo </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>