

<!-- Gallery
	================================================== -->
<section id="listados">
<div class="wrapsection">
	<div class="parallax-overlay" style="background-color:#f58220;opacity:0.9;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title">Listados</h3>
					<p class="lead wow flipInX">
						Encuentra lo que buscas en nuestras listas especiales
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<h1>Tipo de comida</h1>
				<ul>
					<li>Comida mexicana en Ciudad Guzmán</li>
					<li>Comida Italiana en Ciudad Guzmán</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h1>Ingredientes</h1>
				<ul>
					<li>Chiles en Ahogada con Verduras Verdes y Res</li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h1>Restaurantes</h1>
				<ul>
					<li>Restaurantes de comida mexicana</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</section>