<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-page padding-pidolacomida">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4> Día de la semana </h4>
          <div class="row horario">
            <div class="col-md-12">
              <select (change)="setDiaSelectet($event.target.value)" name="dia" class="form-control">
                <option disabled hidden selected>Selecciona un día</option>
                <option *ngFor="let dia of semana" [value]="dia.value">{{ dia.option }}</option>
              </select>
            </div>
            <div class="col-md-4" style="padding-top: .5em;">
              <span> Hora de Inicio </span>
              <timepicker name="timpoPreparacionPicker" [(ngModel)]="horarioInicial" [showMeridian]="isMeridian"></timepicker>
            </div>
            <div class="col-md-4" style="padding-top: .5em;">
              <span> Hora de cierre </span>
              <timepicker name="timpoPreparacionPicker" [(ngModel)]="horarioFinal" [showMeridian]="isMeridian"></timepicker>
            </div>
            <div class="col-md-12 text-right">
              <button [disabled]="!diaSelected" (click)="addHorario()" type="button" class="btn btn-primary"> Agregar </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Horarios creados</h4>
            <table class="table">
              <thead>
                <th> Dia </th>
                <th> Hora de inicio </th>
                <th> Hora de cierre</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let horario of horarios">
                  <td> {{ horario.semana_idsemana }} </td>
                  <td> {{ horario.hora_ini | slice:0:5 }} </td>
                  <td> {{ horario.hora_fin | slice:0:5 }} </td>
                  <td> 
                    <a (click)="removeHorario(horario)" tooltip="Elminar horario" style="color: #e74c3c"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</section>