.direccion {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    padding: 1em;
    border-width: 2px;
    height: 12em;
}
.add-direccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;

}