<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<img src="assets/img/pidolacomida.png" alt="" class="logoGavilan">
		<a href="#hero" class="navbar-brand">Pido la Comida<span class="lighter"></span></a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li>
		  <a href="#hero">INICIO</a>
		</li>
		<li>
		  <a href="#about">QUIENES SOMOS</a>
		</li>
		<li>
		  <a href="#faq">SERVICIOS</a>
		</li>
		<li>
		  <a href="#contactarea">CONTACTO</a>
		</li>
		<li>
			<a href="login">LogIn</a>
		</li>
		<li>
			<a href="register">Regístrate</a>
		</li>
	</ul>
	</nav>
</div>