:host >>> .tooltip-inner {
    background-color: #1abc9c;
    /* background-color: #853e04; */
    color: white;
    font-size: 1.4em;
  }
  :host >>> .tooltip .tooltip-arrow {
    border-bottom-color: #009688;
  }