<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
    <div class="wrapsection-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="pidolacomida-restaurante-header">
                Mis platillos
              </h3>
              <button [routerLink]="['/mi-cuenta/platillo/crear', restauranteId]" class="btn btn-primary pidolacomida-restaurante-button" style="float: right">Nuevo platillo</button>
              <table class="table pidolacomida-restaurante-table">
                <thead>
                  <th>Platillo</th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let platillo of misPlatillos">
                    <td> {{ platillo.descripcion }} </td>
                    <td>
                      <a [routerLink]="['/mi-cuenta/platillo/editar', platillo.platillo_idplatillo]" tooltip="Editar información del platillo." class="pidolacomida-icon"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td>
                      <a [routerLink]="['/mi-cuenta/platillo/horarios', platillo.platillo_idplatillo]" tooltip="Agregar un horario de preparación." class="pidolacomida-icon"><i class="fa fa-2x fa-calendar-plus-o" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td>
                      <a [routerLink]="['/mi-cuenta/platillo/ingredientes', platillo.platillo_idplatillo]" tooltip="Agregar ingredientes al platillo." class="pidolacomida-icon"><i class="fa fa-2x fa-lemon-o" aria-hidden="true"></i>
                      </a>
                    </td>
                    <td>
                      <a [routerLink]="['/mi-cuenta/platillo/ofertas', platillo.platillo_idplatillo, restauranteId]" tooltip="Agregar una oferta al platillo." class="pidolacomida-icon"><i class="fa fa-2x fa-cart-plus" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3 class="pidolacomida-restaurante-header">
                Mis combos
              </h3>
              <button [routerLink]="['/mi-cuenta/combo/crear', restauranteId]" class="btn btn-primary pidolacomida-restaurante-button" style="float: right">Nuevo combo</button>              
              <table class="table pidolacomida-restaurante-table">
                <thead>
                  <th>Combo</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let combo of misCombos">
                    <td>{{ combo.nombre }} </td>
                    <td>
                      <a [routerLink]="['/mi-cuenta/combo/editar', combo.idcombo]" tooltip="Editar información del platillo." class="pidolacomida-icon"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</section>