<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
        <div class="row oferta">
          <div class="col-md-6">
            <form #formOferta="ngForm" (ngSubmit)="onSubmitOferta(formOferta)">
              <div class="col-md-12 form-group">
                <h4> Crear oferta </h4>
                <label for="tipo-oferta">Tipo de oferta</label>
                <select #tipo="ngModel" [(ngModel)]="oferta.tipo"  name="tipo" class="form-control" required>
                  <option disabled hidden >Selecciona tipo de oferta</option>
                  <option value="2x1"> 2x1 </option>
                  <option value="3x1"> 3x1 </option>
                  <option value="50%"> 50% </option>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label> Nombre </label>
                <input #nombre="ngModel" [(ngModel)]="oferta.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre/Titulo de la oferta" required>
              </div>
              <div class="col-md-12 form-group">
                <label> Descripción </label>
                <textarea  #descripcion="ngModel" [(ngModel)]="oferta.descripcion" placeholder="Agrega una descripción..." type="number" name="descripcion" class="form-control" required></textarea>
              </div>
              <div class="col-md-12 form-group">
                <label> Precio </label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input  #precio="ngModel" [(ngModel)]="oferta.precio" type="number" name="precio" class="form-control" placeholder="0.00" required>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label> Fecha de inicio </label>
                <input  #fechaInicio="ngModel" [(ngModel)]="oferta.fecha_iniForView" name="fecha_ini" type="date" class="form-control" required>
              </div>
              <div class="col-md-6 form-group">
                <label> Fecha final </label>
                <input  #fechaFinal="ngModel" [(ngModel)]="oferta.fecha_finForView" name="fecha_fin" type="date" class="form-control" required>
              </div>
              <!-- Template for photo -->
              <div class="col-md-12 form-group">
                <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />                
              </div>
              <div class="col-md-12 form-group text-right">
                <button [disabled]="formOferta.invalid && !uploader.getNotUploadedItems().length" type="submit" class="btn btn-primary">Agregar oferta</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <h4>Visualización de tu oferta</h4>
            <hr>
            <blockquote *ngIf="currentOferta" class="blockquote">
              <h3>{{ currentOferta.nombre }}</h3>
              <p>
                {{ currentOferta.descripcion }}
              </p>
              <p>
                <strong>Precio: ${{ currentOferta.precio }} </strong>
              </p>
              <p>
                <small>Valido del <strong>{{ currentOferta.fecha_ini | date }}</strong> al <strong>{{ currentOferta.fecha_fin |date }}</strong></small>
              </p>
            </blockquote>
          </div>
        </div>
    </div>
  </div>
</section>