<app-titulo-principal [titulo]="titulo" [background]="background"></app-titulo-principal>

<section class="section-quienes">
    <div class="wrapsection-pages-quienes">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title">Servicios</h3>
                        <p class="lead wow flipInX">
                            Nuestros servicios.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-list" aria-hidden="true"></i>
                    <h3 class="quienes-title"> Directorio de restaurantes con servicio a domicilio. </h3>
                    <p>
                        Registrate gratuitamente dentro de nuestro directorio de restaurantes con servicio a domicilio de tu región.
                    </p>
                </div>
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-code" aria-hidden="true"></i>
                    <h3 class="quienes-title"> Software para administración de pedidos a domicilio.  </h3>
                    <p>
                        El SaaS ideal para manejar los envios a domicilio de tu empresa, el cual te proporciona:
                    </p>
                    <ul>
                        <li>
                            Completos reportes del manejo de tu flotilla de motos para envío.
                        </li>
                        <li>
                            Tickets para el motociclista que llevará el pedido, con el detalle del pedido a enviar, la ruta óptima a su destino, tiempo aproximado de llegada, etc.
                        </li>
                        <li>
                            Acceso desde el sitio web Pide la Comida para que los usuarios puedan hacer los pedidos, dandoles a estos la ventaja de saber exactamente el momento de la llegada de su pedido, pudiendo visualizar el progreso del envío y su posición en el gps. Una alarma alertará cuando se acerque un pedido al destino del cliente.
                        </li>
                    </ul> 
                </div>
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-motorcycle" aria-hidden="true"></i>                        
                    <h3 class="quienes-title"> Servicio a domicilio externo </h3>
                    <p>
                        Concentrate en lo tuyo, !hacer la comida!, olvidate de pagar seguro social, comprar motos, luchar con personal irresponsable, pagar seguros, equipamiento, adiestramiento, etc. nosotros te proporcionamos un equipo altamente eficiente y capacitado para hacer los envíos por ti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>