
<section id="maprestaurantes" class="section">
  <div class="wrapsection">
    <div class="container">
      <div class="row">
        <div class="col-md-12 sol-sm-12">
          <div class="maintitle">
            <h2>Restaurantes</h2>
            <p>Con servicio a domicilio a tu ubicación en este momento.</p>
          </div>
          <br>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section class="whitecolor parallax section bgimage">
	<div class="wrapsection bgVerde">
		<div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="maintitle">
            <h2>Restaurantes con servicio a domicilio a tu ubicación</h2>
            <p>Con servicio en este momento.</p>
          </div>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>

        </div>
      </div>
    </div>
  </div>
</section>
-->