<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
      <form #formPlatillo="ngForm" (ngSubmit)="onSubmitPlatillo(formPlatillo.value)">
        <div class="row">
          <div class="col-md-12">
              <h4> Datos generales </h4>              
          </div>
          <input type="hidden" [(ngModel)]="platillo.idplatillo" name="idplatillo" #idplatillo="ngModel">
          <div class="col-md-6">
            <div class="col-md-12 form-group">
              <label> Título del platillo </label>
              <input #nombre="ngModel" [(ngModel)]="platillo.nombre" name="nombre" class="form-control" type="text" placeholder="Nombre del platillo" disabled>
            </div>
            <div class="col-md-12 form-group">
              <label> Descripción </label>
              <input #descripcion="ngModel" [(ngModel)]="restaurantePlatillo.descripcion" name="descripcion" class="form-control" type="text" placeholder="Descripción" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 form-group">
                <label> Precio </label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input #precio="ngModel" [(ngModel)]="restaurantePlatillo.precio" name="precio" type="number" class="form-control" placeholder="0.00" required>
                </div>
            </div>
            <div class="col-md-12 form-group">
              <label> Tiempo de preparación </label>
              <timepicker name="timpoPreparacionPicker" [(ngModel)]="restaurantePlatillo.tiempoPreparacionForView" [showMeridian]="isMeridian"></timepicker>
              <p class="alert alert-info">Tiempo: {{ restaurantePlatillo.tiempoPreparacionForView.getHours() }} hora(s) y {{ restaurantePlatillo.tiempoPreparacionForView.getMinutes() }} minuto(s)</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button [disabled]="formPlatillo.invalid" class="btn btn-primary btn-lg" type="submit"> Guardar cambios </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>