<section id="gallery" class="parallax section" style="background-image: url(assets/img/comida1.jpg);">
  <div class="wrapsection">
    <div class="parallax-overlay" style="background-color:#f58220;opacity:0.9;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ofertas">
            <div class="row ofertas-del-momento">
              <div class="col-md-12">
                  <h2> Ofertas del momento </h2>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-4">
                <app-card-comida 
                    [link]="link" 
                    [imgLink]="imgLink" 
                    [descripcion]="descripcion" 
                    [number]="number" ></app-card-comida>
              </div>
            </div>
          </div>
          <div class="col-md-4 promociones">
            <div class="row">
              <h2>¡Promociones!</h2>
              <div class="col-md-12">
                  <app-card-comida 
                  [link]="link" 
                  [imgLink]="imgLink" 
                  [descripcion]="descripcion" 
                  [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-12">
                  <app-card-comida 
                  [link]="link" 
                  [imgLink]="imgLink" 
                  [descripcion]="descripcion" 
                  [number]="number" ></app-card-comida>
              </div>
              <div class="col-md-12">
                  <app-card-comida 
                  [link]="link" 
                  [imgLink]="imgLink" 
                  [descripcion]="descripcion" 
                  [number]="number" ></app-card-comida>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>