

<!-- Gallery
	================================================== -->
<section id="gallery" class="parallax section" style="background-image: url(assets/img/comida1.jpg);">
<div class="wrapsection">
	<div class="parallax-overlay" style="background-color:#f58220;opacity:0.9;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title">Menú</h3>
					<p class="lead wow flipInX">
						Ver sus sonrisas en un evento organizado por nosotros, es el mejor placer que podemos recibir
					</p>




          <button (click)="addHomeModalShow()" class="btn btn-primary">Add</button>



				</div>
			</div>

			<div class="col-md-4">
					<img src="assets/img/galeria01.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">AV. 20 DE NOVIEMBRE NO 1320 <b>87753</b></span>
						<br>
						<p class="text-center">
								<span class=""><i data-target="#ModalContact" data-toggle="modal" class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i data-target="#ModalShare" data-toggle="modal" class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
			</div>

			<div class="col-md-4">
				<a href="https://unsplash.imgix.net/uploads/14115408840644deb16b0/2dc933e3?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
				<img src="assets/img/galeria02.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">PROL.5 DE MAYO NO.786 <b>87753</b></span>
						<br>
						<p class="text-center">
								<span class=""><i class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
				<img src="assets/img/galeria03.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">AV. INDEPENDENCIA NO. 545 <b>24554</b></span>
						<br>
						<p class="text-center">
								<span class=""><i class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://unsplash.imgix.net/uploads/141327328038701afeede/eda0fb7c?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
				<img src="assets/img/galeria04.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">AV. 20 DE NOVIEMBRE NO.859-B <b>45002</b></span>
						<br>
						<p class="text-center">
								<span class=""><i class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
				<img src="assets/img/galeria05.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">CALLE AGUSTIN LARA NO. 69-B <b>49000</b></span>
						<br>
						<p class="text-center">
								<span class=""><i class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
				<img src="assets/img/galeria06.jpg" alt="" class="image-responsive">
					<div class="description">
						<span class="caption">CALLE ALDAMA NO 156 <b>546553</b></span>
						<br>
						<p class="text-center">
								<span class=""><i class="glyphicon glyphicon-earphone ico-circle"></i></span>
								<span class=""><i class="glyphicon glyphicon-share ico-circle"></i></span>
						</p>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</section>