
<!-- End Hero Bg
	================================================== -->
<!-- Intro
	================================================== -->
<section id="hero" class="section">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
				<div class="herotext">
					<h1 class="wow bounceInDown elegantshadow" data-wow-duration="1s" data-wow-delay="0.1s">PIDO LA <span class="lighter">COMIDA</span></h1>
					<p class="lead wow zoomIn elegantshadow" data-wow-duration="2s" data-wow-delay="0.5s">
						Lorem ipsum dolor sit amet.
					</p>
					<p>
						<a href="#" class="btn btn-default btn-lg wow fadeInLeft" role="button"> Ver Galeria </a> &nbsp; <a href="#" class="btn btn-default btn-lg wow fadeInRight" role="button">Contactanos</a>
					</p>
				</div>
		</div>
	</div>
</div>
</section>