.section-quienes {
    background-color: #EDEDED;
}
.quienes-icon-wrapper {
    padding: 1em 0;
}
.quienes-title {
    padding-top: 1em;
}
.quienes-icon {
    font-size: 3em;
    background-color: #f58220;
    color: white
}