<app-titulo-principal [titulo]="titulo" [background]="background"></app-titulo-principal>

<section class="section-quienes">
    <div class="wrapsection-pages-quienes">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-handshake-o" aria-hidden="true"></i>
                    <h3 class="quienes-title"> Title </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eum in obcaecati perferendis earum ratione incidunt provident est debitis consequuntur ullam sed dolorem, beatae accusantium porro blanditiis quisquam magni dolore?
                    </p>
                </div>
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-users" aria-hidden="true"></i>
                    <h3 class="quienes-title"> Title </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eum in obcaecati perferendis earum ratione incidunt provident est debitis consequuntur ullam sed dolorem, beatae accusantium porro blanditiis quisquam magni dolore?
                    </p>
                </div>
                <div class="col-md-4 quienes-icon-wrapper">
                    <i class="quienes-icon i fa fa-line-chart" aria-hidden="true"></i>                        
                    <h3 class="quienes-title"> Title </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eum in obcaecati perferendis earum ratione incidunt provident est debitis consequuntur ullam sed dolorem, beatae accusantium porro blanditiis quisquam magni dolore?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>