<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
      <form [formControl]="formGroup" (onSubmit)="onSubmitRestaurant()">
        <div class="row">
          <div class="col-md-6 form-group">
            <input [formControl]="nombre" name="nombre" [(ngModel)]="nombre" type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Razon social">
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="RFC">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" placeholder="Dirección">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <textarea type="text" class="form-control" placeholder="Descripción"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group text-right">
            <button [disabled]="!formGoup.valid" class="btn btn-primary btn-lg"> Registrar </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>