<!-- Begin Hero Bg -->
<div id="parallax">
</div>

<!-- Carrusel
	================================================== -->
<app-maincarrusel></app-maincarrusel>

<!-- List Cocinandose
	================================================== -->
<app-listcocinandose></app-listcocinandose>

<!-- Restaurantes con servicio a domicilio cerca de ti
	==================================================  -->

<!-- Faqs
	================================================== -->
<app-faqs></app-faqs>

<!-- Contact
	================================================== <app-contact></app-contact> -->
