<!-- Begin Hero Bg -->
<div id="parallax">
</div>

<!-- Carrusel
	================================================== -->
<app-maincarrusel></app-maincarrusel>

<!-- List Cocinandose
	================================================== -->
<app-listcocinandose></app-listcocinandose>

<!-- Restaurantes con servicio a domicilio cerca de ti
	================================================== <app-maprestaurantes></app-maprestaurantes> -->

<!-- Faqs
	================================================== -->
<app-faqs></app-faqs>

<!-- Contact
	================================================== -->
<app-contact></app-contact>

<!--Modals-->
<div class="modal fade" id="ModalShare">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					&times;
				</button>
				<h5 class="modal-title">Compartir</h5>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.mediotiempo.com" target="_blank">
						    <i style="color: blue;"class="fa fa-facebook fa-5x"></i>
						</a>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<a href="#" onclick="hideShow()"><i id="envelope" class="fa fa-envelope fa-5x" aria-hidden="true"></i></a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-6" >
						<div class="row">
							<div class="col-md-9 showInModal" style="display:none;">
								<input class="form-control" type="text" placeholder="Introduzca su e-mail">
							</div>
							<div class="col-md-3">
								<button class="btn btn-primary showInModal" style="display:none;"><i style="color: white;" class="fa fa-paper-plane" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalContact">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					&times;
				</button>
				<h5 class="modal-title">Pedir</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<img style="width: 100%;" src="assets/img/galeria01.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h4 style="color:black">Restaurante La María</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3 style="color:black">Plato de camarones</h3>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12">
								<h1 style="color:black">$15.00MXN</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<br>
						<p style="color:black">Ricos camarones bañados en salsa de soya acompañados de ajonjolí y sus especias preferidas.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secundary btn-lg btnPedir"> pedir</button>
			</div>
		</div>
	</div>
</div>

