
<!-- Credits
=============================================== -->
<section id="credits" class="text-center" style="background-color: #FFFFFF;">
	<div class="row" style="max-width: 100%">
		<div class="col-md-6">
			<h5> Más Información </h5>
			<ul style="list-style: none; padding-left: 0;">
				<li> <a class="list-info" href="/register"> Regístrate como empresa </a> </li>
				<li> <a class="list-info" href="/pages/quienes-somos"> ¿Quiénes somos? </a> </li>
				<li> <a class="list-info" href="/pages/servicios"> Nuestros servicios </a> </li>
				<li> <a class="list-info" href="/pages/contactanos"> Contacta a Pido la Comida </a> </li>
				<li> <a class="list-info" href="/pages/faqs"> Preguntas frecuentes </a> </li>
				<li> <a class="list-info" href="/pages/faqs"> Políticas de privacidad </a> </li>
			</ul>
		</div>
		<div class="col-md-6">
			<h5>Teléfonos de contacto</h5>
			<strong><p>(818) 235-6619</p></strong>
			<strong><p>(818) 365-4797</p></strong>
			<br>
			<span class="social wow zoomIn">
				<a href="https://www.facebook.com/Pide-la-Comida-123950651622896/"><i class="fa fa-facebook"></i></a>
			</span>
			<br>
		</div>
		<div class="col-md-12">
			Copyright &copy; <a href="#">Pido la Comida</a>
		</div>

	</div>

</section>
