
<!-- Credits
=============================================== -->
<section id="credits" class="text-center">
	<h5>Teléfonos de contacto</h5>
	<strong><p>(818) 235-6619</p></strong>
	<strong><p>(818) 365-4797</p></strong>
	<br>
	<span class="social wow zoomIn">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-skype"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>
	<a href="#"><i class="fa fa-pinterest"></i></a>
	<a href="#"><i class="fa fa-google-plus"></i></a>
	</span><br/>

	Copyright &copy; <a href="#">Pido la Comida</a>
</section>
