<section class="section" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <span class="dish-title">POZOLE</span>
          <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
        </div>
        <div class="col-md-6 text-right">
          <button (click)="pedirModal()" type="button" class="btn btn-primary">PEDIR</button>
        </div>
      </div>
      <div class="col-md-12 sexy-line-cont">
        <span class="sexy-line"></span>
      </div>
      <div class="col-md-4">
        <img src="http://1.bp.blogspot.com/-7bMLeqvrBRQ/WGGXb7cCSuI/AAAAAAAAKOY/7jFn4ZYkH4cZle96PwAE39Z8zoRezh2DwCK4B/s1600/P1010813.JPG" alt="">
      </div>
      <div class="col-md-4">
        <h3> Descripción </h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, iusto modi excepturi eos repudiandae ex illum veniam facere neque corporis exercitationem quod sint nulla in? Temporibus, dolor mollitia. Asperiores, mollitia.
        </p>
      </div>
      <div class="col-md-4">
          <h3>Ingredientes</h3>
          <div class="col-md-10">
            <ul>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
              <li>Item</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1em;">
      <div class="col-md-6">
          <h3>Preparado por: </h3>
          <ul>
            <li>LA PARRILLA</li>
          </ul>
      </div>
      <div class="col-md-6">
        <h3>Horarios de preparación</h3>
        <app-horario [horario]="horario"></app-horario>
      </div>
    </div>
  </div>
</section>