<div class="card-comida">
    <a [attr.href]="link" title="descripcion">
        <img [src]="imgLink" alt="POZOLE DE GRANO" class="card-comida-img image-responsive">
        <span class="price">{{ precio || '$ 55.99'}} <b>{{ moneda || 'MX'}}</b></span>
    </a>
    <div class="description">
        <div>
            <span class="caption" > {{ titulo || 'POZOLE DE GRANO'}} </span>
        </div>
        <p class="text text-left">
            {{ descripcion || 'PROL.5 DE MAYO NO.786'}}
        </p>
        <p class="text-right">
            <button (click)="pedirModal()" type="button" class="btn btn-primary">PEDIR</button>
        </p>
        <div class="clearfix"></div>
    </div>
</div>
