<app-titulo-principal [titulo]="titulo" [textColor]="textColor" ></app-titulo-principal>

<section>
  <div class="wrapsection-pages">
    <div class="container">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmitRestaurant(formGroup.value)">
        <div class="row">
          <div class="col-md-6 form-group" [ngClass]="{'has-error': (!nombre.valid && nombre.touched), 'has-success': (nombre.valid && nombre.touched)}">
            <label> Nombre </label>
            <input [formControl]="nombre" name="nombre" [(ngModel)]="restaurante.nombre" type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-md-6 form-group" [ngClass]="{'has-error': (!razon.valid && razon.touched), 'has-success': (razon.valid && razon.touched)}">
            <label> Razón Social </label>
            <input [formControl]="razon" name="razon" [(ngModel)]="restaurante.razon" type="text" class="form-control" placeholder="Razon social">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group" [ngClass]="{'has-error': (!descripcion.valid && descripcion.touched), 'has-success': (descripcion.valid && descripcion.touched)}">
            <label> Descripción </label>
            <textarea [formControl]="descripcion" name="descripcion" [(ngModel)]="restaurante.descripcion" type="text" class="form-control" placeholder="Descripción"></textarea>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group text-right">
              <button [disabled]="formGroup.invalid" class="btn btn-primary btn-lg" type="submit" > Guardar cambios </button>
            </div>
        </div>
      </form>
    </div>
  </div>
</section>