

<!-- Gallery
	================================================== -->
<section id="gallery"  class="parallax section" style="background-image: url(assets/img/comida1.jpg);">
<div class="wrapsection">
	<div class="parallax-overlay" style="background-color:#f58220;opacity:0.9;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title">Cocinandose</h3>
					<p class="lead wow flipInX">
						Platillos mas pedidos cocinandose ahora mismo.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<div class="col-md-4">
				<app-card-comida 
					[link]="link" 
					[imgLink]="imgLink" 
					[descripcion]="descripcion" 
					[precio]="precio"
					[titulo]="titulo"
					[moneda]="moneda"
					[number]="number" 
					(onModalResponse)="onModalResponse($event)"></app-card-comida>
			</div>
			<!-- <div class="col-md-4">
				<a href="assets/img/galeria01.jpg" title="POZOLE DE ELOTE">
					<img src="assets/img/galeria01.jpg" alt="POZOLE DE ELOTE" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE ELOTE</span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con elote estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="assets/img/galeria01.jpg" title="POZOLE DE GRANOS">
					<img src="assets/img/galeria01.jpg" alt="POZOLE DE GRANOS" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE ELOTE ORGÁNICO</span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con GRANOS estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="assets/img/galeria01.jpg" title="POZOLE DE ELOTE">
					<img src="assets/img/galeria01.jpg" alt="POZOLE DE ELOTE" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE PUERCO</span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con elote estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="assets/img/galeria02.jpg" title="POZOLE DE GRANO">
					<img src="assets/img/galeria02.jpg" alt="POZOLE DE GRANO" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE GRANO </span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con elote estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>			<div class="col-md-4">
				<a href="assets/img/galeria01.jpg" title="POZOLE DE ELOTE">
					<img src="assets/img/galeria01.jpg" alt="POZOLE DE ELOTE" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE ELOTE</span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con elote estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="assets/img/galeria02.jpg" title="POZOLE DE GRANO">
					<img src="assets/img/galeria02.jpg" alt="POZOLE DE GRANO" class="image-responsive">
				</a>
				<div class="description">
					<span class="price">$ 55.99 <b>MX</b></span>
					<span class="caption">POZOLE DE GRANO </span>
					<br>
					<p class="text text-center">
						Delicioso Pozole con elote estilo Tamazula, con chile chipotle, papas y sabor a pulque.
					</p>
					<p class="text-right">
						<button (click)="addHomeModalShow()" type="button" class="btn btn-primary">PEDIR</button>
					</p>
					<div class="clearfix"></div>
				</div>
			</div> -->
		</div>
	</div>
</div>
</section>